.navbar .navbar__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C9D6DF;
    top: 0;
}

.navbar .navbar__ul li {
    float: left;
  }
  
  .navbar .navbar__ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar .navbar__ul li a:hover {
    color: #C9D6DF;
    background-color: #F0F5F9;
  }
  
  .navbar .navbar__ul li a:active {
      background-color: #52616B;
  }

.navbar {
    display:flex;
    background-color: #C9D6DF;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 1rem;
}
